<br>
<div class="container">
    <h4>Book List</h4>

    <input class="form-control" type="text" name="bookTitle" [(ngModel)]="bookTitle" (ngModelChange)="Search()" placeholder="Search">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Book ISBN</th>
                <th>Book Title</th>
                <th>Book Year</th>
                <th>Book Price</th>
                <th>Book Authors</th>
            </tr>
        </thead>
        <tbody>
            <!-- ngFor is a directive that can iterative over objects, its like the "for" in java -->
            <tr *ngFor="let book of books">
                <td>{{book.bookIsbn}}</td>
                <td>{{book.bookTitle}}</td>
                <td>{{book.bookYear}}</td>
                <td>{{book.bookPrice | currency:'SGD'}}</td>

                <td>
                    <button (click)="updateBook(book.bookId)" class="btn btn-info">Update</button>
                    <button (click)="viewMore(book.bookId)" class="btn btn-info" style="margin-left:5px">View</button>
                    <button (click)="createAuthor(book.bookId)" class="btn btn-info" style="margin-left:5px">Add Author</button>
                    <button (click)="deleteBook(book.bookId)" class="btn btn-danger" style="margin-left:5px">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>