<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="_layout">

<section layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1>User Login Page</h1>
                <form th:action="@{/login}" method="post">

                    <!-- Error message -->
                    <div th:if="${param.error}">
                        <div class="alert alert-danger"> Invalid username or password.</div>
                    </div>


                    <!-- Logout Message -->
                    <div th:if="${param.logout}">
                        <div class="alert alert-info">You have been logged out</div>
                    </div>

                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Username"
                            autofocus="autofocus">
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="password"
                            autofocus="autofocus">
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <input type="submit" name="login-submit" id="login-submit"
                                    class="form-control btn btn-primary" value="Log In" />
                            </div>
                        </div>
                    </div>

                </form>
                <div class="form-group">
                    <span>New User? <a href="/" th:href="@{/registration}">Register here</a></span>
                </div>
            </div>
        </div>
    </div>

</section>


</html>